@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom font imports */

:root {
  --font-inter: 'Inter', sans-serif;
  --font-noto: 'Noto-Serif', sans-serif;
  --font-mono: 'Source-Code-Pro', sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-noto {
  font-family: var(--font-noto);
}

.font-mono {
  font-family: var(--font-mono);
}

/* Add these styles to your existing globals.css */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100 dark:bg-neutral-900 rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-700 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400 dark:bg-neutral-600;
}


body {
  height: 100svh;
  @apply dark:bg-neutral-950;
}

.app {
  display: flex;
  justify-content: center;
  height: 100svh;
  overflow: hidden
}

.activeItem {
  @apply bg-blue-50 rounded-lg font-medium hover:bg-none;
}

.item-hover {
  @apply hover:bg-neutral-100 dark:hover:bg-neutral-900 rounded-lg transition-all duration-150;
}

p {
  @apply text-neutral-900 dark:text-neutral-300 font-normal;
}

h2 {
  @apply text-neutral-950 dark:text-neutral-200 font-bold text-lg;
}

h1 {
  @apply font-bold text-2xl text-neutral-950 dark:text-neutral-300;
}

label {
  @apply font-medium text-neutral-950 dark:text-neutral-200;
}

.line {
  width: 100%;
  height: 1px;
  @apply bg-neutral-300 dark:bg-neutral-700;
}

.input {
  @apply border border-neutral-200 p-3 w-full rounded-lg outline-none;
}

.input-invalid {
  @apply border border-red-500 p-3 w-1/2 rounded-lg outline-none;
}

.input-wrapper {
  @apply flex flex-col gap-2 relative;
}

.primary-btn {
  @apply flex items-center justify-center p-3 bg-blue-500 text-neutral-50 rounded-lg active:opacity-80 hover:bg-blue-700 transition-all duration-150;
}

.eye-icon {
  @apply absolute right-3 translate-y-1;
}